@import url(null.css);

@font-face { 
   font-family: "rover";
   src: 
      url("../fonts/land-rover/nk57-monospace-se-eb-it.woff2") format(woff2), 
      url("../fonts/land-rover/nk57-monospace-se-eb-it.woff") format(woff);
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: "land";
   src:
      url('../fonts/land-rover/LandRoverOT4-Light.woff2') format('woff2'),
      url('../fonts/land-rover/LandRoverOT4-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "land";
   src:
      url('../fonts/land-rover/LandRoverOT4-Medium.woff2') format('woff2'),
      url('../fonts/land-rover/LandRoverOT4-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "land";
   src:
      url('../fonts/land-rover/LandRoverOT4-Bold.woff2') format('woff2'),
      url('../fonts/land-rover/LandRoverOT4-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}

body{
   font-weight: 300;
   font-style: normal;
   font-family: land;
   font-size: 1rem;
   line-height: 1.3;
   position: relative;
   background-color: hsla(0, 0%, 95%, 1);
}


.wrapper{
   overflow: hidden;
   min-height: 100%;
   position: relative;

   display: flex;
   flex-direction: column;
}

.wrapper > main{
   flex-grow: 1;
}

[class*="__container"]{
   max-width: 1290px;
   padding-left: 1.875em;
   padding-right: 1.875em;
   margin: 0 auto;
}

.header {
   position: fixed;
   top: 0;
   left: 50%;
   width: 100%;
   max-width: 2000px;
   padding: 1em;
   z-index: 99;
   border-bottom: 1px solid #2E8B57;
   background-color: rgba(255, 255, 255, 0.7);
   transform: translateX(-50%);
}


.header__container {
   max-width: 100%;
}

.header__content {
}

.conten-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   row-gap: 2em;
   column-gap: 2em;
}

.content-header__logo {
}

.logo-block {}

.logo-block__image {
   max-width: 12.5em;
}

.logo-block__image img{
   max-width: 100%;
}

.content-header__nav {}

.nav-block {
   font-family: rover;
}

.nav-block__items {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   row-gap: 0.5em;
   column-gap: 2em;
   font-size: 0.9em;
   padding: 0.25em 0;
   flex-grow: 1;
}

.nav-block__item:hover{
   color: #2E8B57;
}

.nav-block__item:hover a::after,
.nav-block__item:hover a::before{
   transform: scale(1);
}

.nav-block__item {
   padding: 0 1em;
   transition: color 0.3s ease-in-out;
   position: relative;
}

.nav-block__item a{
   display: flex;
   flex-direction: column;
   gap: 0.5em;
}

.nav-block__item a::after,
.nav-block__item a::before{
   content: '';
   width: 100%;
   height: 0.125em;
   background-color: #2E8B57;
   transition: transform 0.3s linear;
   transform: scale(0);
}

.nav-block__item:not(:last-child) a::before,
.nav-block__item:not(:last-child) a::after,
.nav-block__item:not(:first-child) a::before,
.nav-block__item:not(:first-child) a::after{
   transform-origin: center;
}

.nav-block__item:first-child a::before,
.nav-block__item:first-child a::after{
   transform-origin: left;
}

.nav-block__item:last-child a::before,
.nav-block__item:last-child a::after {
   transform-origin: right;
}

.nav-block__link {}

.main__heading {
   /* align-self: center; */
   transform: rotate(-5deg);
   border-bottom: 1px solid #2E8B57;
   box-shadow: 0 3px 6px 0 #2E8B57;
}

.heading__container{
   margin-top: 10em;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.heading {
   margin: 0 -2em;
}

.heading__content {
   flex: 0 1 46.125em;
   max-width: 46.125em;
   padding-right: 1em;
   padding-left: 1em;
   display: flex;
   flex-direction: column;
   gap: 2em;
   transform: rotate(5deg);
}

.title-block{
   font-weight: 500;
   font-size: 3em;
}

.title-block b{
   color: #2E8B57;
}

.heading__action{
   display: flex;
   column-gap: 3em;
   row-gap: 1em;
   align-items: center;
   flex-wrap: wrap;
}

.button-bg{
   padding: 1em 2em;
   background-color: #2E8B57;
   border-radius: 0.125em;
   font-weight: 700;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.button-bg:hover{
   background-color: transparent;
   outline: 1px solid #2E8B57;
   color: #2E8B57;
}

.button-play__link span{
   display: flex;
   flex-direction: column;
}

.button-play__link span::after,
.button-play__link span::before{
   content: '';
   width: 100%;
   height: 0.125em;
   background-color: #2E8B57;
   transition: transform 0.3s linear;
   transform: scaleX(0);
}

.button-play__link span::after{
   transform-origin: right;
}

.button-play__link span::before{
   transform-origin: left;
}

.button-play:hover .button-play__link span::after{
   transform: scaleX(1);
   transform-origin: left;
}

.button-play:hover .button-play__link span::before {
   transform: scaleX(1);
   transform-origin: right;
}

.button-play:hover{
   color: #2E8B57;
}

.button-play__link{
   font-weight: 700;
	display: inline-flex;
	align-items: center;
	gap: 1em;
	position: relative;
   transition: all 0.3s linear;
}

.button-play__link::before{
   content: "";
   flex: 0 0 3em;
   width: 3em;
   height: 3em;
   border-radius: 50%;
   background: hsla(146, 50%, 36%, 0.1) url('../img/icons/play.svg') center no-repeat;
   left: 0;
   top: 0;
   border: 1px solid #2E8B57;
}

.button-play__link::after{
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 3em;
   height: 3em;
   border-radius: 50%;
   background: #2E8B57;
   opacity: 0.12;
   transform: scale(1);
}

.button-play:hover .button-play__link::after{
   animation: play-circle 1s infinite ease;
}

@keyframes play-circle {
   0%{
      transform: scale(1);
   }
   100%{
      opacity: 0;
      transform: scale(1.5);
   }
}

.heading__media {
   flex: 0 1 30.75em;
   max-width: 30.75em;
   transform: rotate(5deg);
   margin: -3em 0;
   /* padding-right: 20em; */
}

.heading__image {
   position: relative;
   padding-bottom: 150%;
   border-radius: 1em;
   overflow: hidden;
}

.heading__image img{
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media (max-width:1046px){
   .conten-header {
      flex-direction: column;
      row-gap: 1em;
   }
}

@media (max-width:815px){
   body{
      font-size: 0.75rem;
   }
}

@media (max-width:612px) {
   body {
      font-size: 0.5rem;
   }
}

@media (max-width:408px) {
   body {
      font-size: 0.4rem;
   }
}
